.footer {
    background-color: #131921;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:relative;
    top: 10;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 0px;
    /* z-index: 100; */
    color: white;
}
